
.content-wrapper {
  display: flex;
  flex-wrap: wrap;
}


#sectionDerecha{
  position: static;
  bottom: 950px;
  float: right;

  width: 500px;
  margin: 100px;
  font-family: Segoe UI, Frutiger, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
  text-align: center;
  font-size: 20px;
}

.restoClase {
  position: center;
  left: 410px;
}

